body, html {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 56px;
}
ul { list-style: none; padding-left: 5px; }
a { color:blue; text-decoration: none;}
.bar {
    background-color: #f9f9fb;
    padding:1px;
    border-top: solid 1px #cdcdcd;
    border-bottom: solid 1px #cdcdcd;
    display: flex;
    justify-content: center;
}
.content {
    max-width: 1440px;
    margin: 0 auto;
    grid-gap: 3rem;
    display: grid;
    gap: 3rem;
    grid-template-areas: "sidebar main anchors";
    grid-template-columns: minmax(0,15rem) minmax(0,2.5fr) minmax(0,15rem);
    padding-left: 1rem;
    padding-right: 1rem;
}
.footer {
    min-height: 100px;
    border-top: solid 1px #cdcdcd;
}
.anchors {
    border-left: solid 1px #cdcdcd;
    padding-left: 20px;
    height: 5200px
}
.sidebar {
    border-right: solid 1px #cdcdcd;
    height: 5200px
}
figure {
    text-align: center;
    /*padding: topo direita baixo esquerda;*/
    padding: 10px 0px 10px 0px;
}

.bar1 {
    display: flex;
    gap: 20px;
    
}

.main {
    font-size: large;
}

.logo {
    display: flex;
    align-items: center;
    background-color: rgb(169, 169, 169);
    width: 500px;
    margin: auto;
    height: 90px;
    border-radius: 20px;
}
header {
  position: fixed;     
  top: 0;              
  left: 0;             
  width: 100%;         
  background-color: rgb(38, 56, 95);  
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2); 
  z-index: 1000;       
}
section {
  scroll-margin-top: 120px; 
}
footer {
  background: #333;             /* Cor de fundo escura */
  color: #FFFFFF;                 /* Cor do texto branca */
  padding: 10px;                /* Espaçamento interno */
  display: flex;
  font-weight: bold;
}
 ul {
    list-style: disc;
    padding-left: 20px;
 }